<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

    <h2>Order Confirmed ✅</h2>

    <p>Hello {{ user.name }},</p>

    <p>Your order <b>{{ order.invoice_number }}</b> has been confirmed.</p>

    <p>Total Amount: ₹{{ order.total_amount }}</p>
    <p>Status: {{ order.status }}</p>

    <h3>Recommended Products:</h3>

    {% if email_products %}
        <ul>
        {% for product in email_products %}
            <li>{{ product.name }} - ₹{{ product.price }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No recommendations available</p>
    {% endif %}

    <p>Thank you for shopping with us ❤️</p>

</body>
</html>